<table class="table table-striped">
    <thead>
        <tr>
            <th>Alumno</th>
            <th>Materia</th>
            <th>Calificacion</th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
            <tr>
                <td>{{list.idAlumno}}</td>
                <td>{{list.materia}}</td>
                <td>{{list.calificacion}}</td>
                <td>
                    <a href=""><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
                    <a href=""><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
                </td>
            </tr>
        {{/each}}
    </tbody>
</table>